<!DOCTYPE html>
<html>
  <head>
    <!-- *** Meta Tags *** -->

    <title>App1</title>

    <!-- *** Link Tags *** -->
    <!-- Google Fonts CSS -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <!-- Main CSS -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  </head>
  <body>

    <!-- *** Content *** -->
    <header>
      <div class="container">
        <h1 class="title">Learning Flask</h1>
      </div>
    </header>

    {% block content %}
    {% endblock %}

    <!-- *** Script Tags *** -->
    <!-- For IE8 (and earlier) -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <![endif]-->

  </body>
</html>
